{% import 'macros/recursive_submenu.twig' as tree %}

{% if menu %}
<button class="c-header_menu_toggle || o-button || js-page-nav-toggle">
	<span class="o-button_label">Menu</span>
</button>

<nav class="c-nav">
	{{ tree.list(menu.items) }}
</nav>
{% endif %}
