{% extends "base.twig" %}

{% block content %}
	<main data-barba="wrapper">
		<div data-barba="container" data-barba-namespace="about">
			<div class="o-scroll" id="js-scroll" data-scroll-container>

				<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
					<section class="article-content">
						<h1 class="article-h1">{{post.title}}</h1>
						<p>test test lorem lorem</p>
						<div class="article-body">
							{{post.content}}
						</div>
					</section>
				</article>

				{# about hero #}
				<section data-scroll-section>
					<div class="o-container">
						<header class="c-header" id="header">
							<h1 class="c-header_title o-h1" title="About" data-scroll>
								<span class="screen-reader-text" aria-label="About">About</span>
								<!-- since we have the title below sliced up into individual characters we are using a label (above) that screen readers can process -->
								<span class="c-header_title_line">
									<span class="o-h1" data-scroll data-scroll-speed="3" data-scroll-position="top" data-scroll-direction="horizontal" data-scroll-delay="0.05">A</span><span class="o-h1" data-scroll data-scroll-speed="2" data-scroll-position="top" data-scroll-direction="horizontal" data-scroll-delay="0.05">b</span><span class="o-h1" data-scroll data-scroll-speed="5" data-scroll-position="top" data-scroll-direction="horizontal" data-scroll-delay="0.05">o</span><span class="o-h1" data-scroll data-scroll-speed="4" data-scroll-position="top" data-scroll-direction="horizontal" data-scroll-delay="0.05">u</span><span class="o-h1" data-scroll data-scroll-speed="6" data-scroll-position="top" data-scroll-direction="horizontal" data-scroll-delay="0.05">t</span>
								</span>
							</h1>
						</header>
					</div>
				</section>
				{# ends about form #}

			</div>
		</div>
	</main>
{% endblock %}